<aside>

  <nav class="menuizqcont">
    <div class="menuizq">
      <li class="menuli_izq"><a class="button_menuizq" href><img
            src="/icons/tabla.png"
            alt>Tablero</a></li>
      <li class="menuli_izq"><a class="button_menuizq" href="#"><img
            src="icons/usuarios.png" alt>
          Usuarios</a></li>
      <li class="menuli_izq"><a class="button_menuizq" href="#"><img
            src="icons/procesoC.png"
            alt>Proceso</a></li>
    </div>
  </nav>
</aside>
