<router-outlet></router-outlet>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
  </head>

  <body>
  <app-header></app-header>
  <app-menu></app-menu>

    <div>
      <nav class="contenido">
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Productos</a>
            <ul>
              <li><a href="#">Producto 1</a></li>
              <li><a href="#">Producto 2</a></li>
            </ul>
          </li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
      <div class="contenido">
        <input type="text" placeholder="Titulo TTXXXXX" class="titulotxt" name
          id>
        <br><br>
        <label for class="Desclbl">Descripción</label><br>
        <textarea placeholder="Descripcion larga"
          class="titulotxt desctxt"></textarea>
      </div>
    </div>

    <a href="#">
      <div class="cardprincipal">
        <div class="cardimgdiv"> <img class="cardimg" src="icons/errorfalla.webp"
            alt></div>
        <div class="cardtext">
          <div class="idlinks">
            <div>
              <h3>TT77192</h3>
            </div>
            <div><a class="hoverredondo" href="#"><img class="miniimagen"
                  src="icons/vtiger.png"
                  alt></a><a class="hoverredondo" href="#"><img
                  class="miniimagen"
                  src="icons/mantis.png" alt></a></div>
          </div>

          <p>PROBLEMAS AL REALIZAR FACTURAS DESDE MODULO</p>

        </div>

      </div>
    </a>

  </body>

</html>
<img src alt>
